{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% load listing_extras %}

{% block title %}{% trans 'List of vacancies' %}{% endblock %}


{% block content %}
    {% get_current_language as LANGUAGE_CODE %}
    <main class="vacantions">
        <div class="container">
            {% if vacantions %}
                <div class="section-header">
                    <h1 class="section-header__title">
                        {% if LANGUAGE_CODE == 'uk' %}
                            <em> {{ count|pluralize_uk:"вакансія,вакансії,вакансій" }}</em> підходять саме вам
                        {% else %}
                            <em>{{ count }} {{ count|pluralize:"vacancy is,vacancies are" }}</em> suitable for you
                        {% endif %}
                    </h1>
                </div>
                <ul class="vacantions-group">
                    {% for vacantion in vacantions %}
                        <li class="vacantion-item">
                            <p class="vacantion-item__profession">{{ vacantion.title }}</p>
                            <strong class="vacantion-item__salary">{{ vacantion.salary }}</strong>
                            <p class="vacantion-item__excerpt">{{ vacantion.description }}</p>
                            <p class="vacantion-item__department">
                                <img class="vacantion-item__icon accent" src="{% static 'img/icon-case.png' %}" alt="кейс" loading="lazy" width="60" height="52">
                                <span class="accent">{{ vacantion.department.title }}</span>
                            </p>
                            <button class="vacantion-item__add-feadback open-popup" data-name="vacantion" data-value="{{ vacantion.pk }}" data-popup="popup-add-apply" type="button">
                                {% trans 'Leave a resume' %}
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                {% include 'pagination.html' with page=vacantions %}
            {% else %}
                <div class="section-header">
                    <h1 class="section-header__title animate animate_text">
                        {% trans 'Fresh vacancies will be published on this page' as title %}
                        {{ title|wrap_words_in_span|safe }}
                    </h1>
                    <p class="section-header__subtitle"><a href="/">{% trans 'Return to the home page' %}</a></p>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}