{% extends 'layout/base.html' %}
{% load static %}
{% load thumbnail %}
{% load listing_extras %}

{% block title %}Вакансії{% endblock %}


{% block content %}
    <main class="vacantions-main">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title">Ми шукаємо <em>агентів</em> в нашу команду</h1>
                <p class="section-header__subtitle section-header__subtitle_strong">Вибирайте те, що підходить саме вам</p>
            </div>
            <div class="vacantions-main__links">
                <a href="{% url 'vacantions:list' %}" class="btn btn_primary">Подивитись вакансії</a>
                <a href="{% url 'pages:about' %}" class="btn btn_invert-2">Детально про компанію</a>
            </div>
        </div>
    </main>
    <section class="advantages">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title animate animate_text">
                    {{ 'Працювати у нас це:'|wrap_words_in_span|safe }}
                </h2>
            </div>
            <ul class="advantages-group">
                <li class="advantages-item">
                    <img src="{% static 'img/icon-vacantion-feature-1.png' %}" alt="рука" class="advantages-item__image accent" loading="lazy" width="92" height="128">
                    <h3 class="advantages-item__title">Технології та інструменти</h3>
                    <p class="advantages-item__description">Власні зручні IT-сервіси: , CRM, Навчальний портал, боти</p>
                </li>
                <li class="advantages-item">
                    <img src="{% static 'img/icon-vacantion-feature-2.png' %}" alt="сходинки вверх" class="advantages-item__image accent" loading="lazy" width="116" height="128">
                    <h3 class="advantages-item__title">Кар&#39;єрний ріст</h3>
                    <p class="advantages-item__description">Ми створюємо відкрите та доступне середовище для кар&#39;єрного росту</p>
                </li>
                <li class="advantages-item">
                    <img src="{% static 'img/icon-vacantion-feature-3.png' %}" alt="успіх" class="advantages-item__image accent" loading="lazy" width="128" height="128">
                    <h3 class="advantages-item__title">Постійний розвиток</h3>
                    <p class="advantages-item__description">Ви зможете пройти безкоштовне навчання професії нерухомості з нуля. Досвідчений ментор та підтримка на всіх етапах</p>
                </li>
                <li class="advantages-item">
                    <img src="{% static 'img/icon-vacantion-feature-4.png' %}" alt="гроші" class="advantages-item__image accent" loading="lazy" width="128" height="128">
                    <h3 class="advantages-item__title">Дохід без стелі</h3>
                    <p class="advantages-item__description">Компанія надає повний пакет інструментів для вашого результату і заробітку</p>
                </li>
            </ul>
        </div>
    </section>
    <section class="values">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title animate animate_text">
                    {{ 'Нам потрібні люди, які розділяють наші цінності'|wrap_words_in_span|safe }}
                </h2>
            </div>
            <div class="values-list-row">
                <ul class="values-group">
                    <li class="values-item">
                        <h3 class="values-item__title">Клієнтоорієнтованість</h3>
                        <p class="values-item__description">все починається з потреби клієнта</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Командний дух</h3>
                        <p class="values-item__description">ми віримо у свою команду</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Відповідальність</h3>
                        <p class="values-item__description">ми відповідальні за результати нашої роботи</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Довіра</h3>
                        <p class="values-item__description">перша необхідна умова великих починань</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Прагнення до результату </h3>
                        <p class="values-item__description">результат починається з мене</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Чесність</h3>
                        <p class="values-item__description">основа успіху в бізнесі</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Успіх</h3>
                        <p class="values-item__description">це сума маленьких досягнень, що повторюються щодня</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Розвиток</h3>
                        <p class="values-item__description">це результат планування та цілеспрямовані зусилля</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Сім&#39;я</h3>
                        <p class="values-item__description">це наше натхнення для досягнення великих висот, і наша опора коли ми робимо помилки</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Доброта</h3>
                        <p class="values-item__description">вона непомітна, коли володієш нею, і вона дає успіх у будь-якій справі</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Щастя</h3>
                        <p class="values-item__description">це коли вранці з радістю йдеш на роботу, а ввечері з радістю повертаєшся додому</p>
                    </li>
                    <li class="values-item">
                        <h3 class="values-item__title">Радість</h3>
                        <p class="values-item__description">це велике благо, володіти можливістю дарувати її іншим - найбільше щастя</p>
                    </li>
                </ul>
                <img src="{% static 'img/vacantion-girl.png' %}" alt="жінка" class="values__bg" loading="lazy" width="698" height="663">
            </div>
            {% if page.video %}
                <div class="values-video-row">
                    <video class="values-video" src="{{ page.video.url }}" {% if page.poster %}poster="{{ page.poster|thumbnail_url:'large' }}"{% endif %}></video>
                    <img src="{% static 'img/icon-play.png' %}" alt="відтворити" class="values-video-play">
                </div>
            {% endif %}
        </div>
    </section>
    {% include 'sections/feadback.html' %}
{% endblock %}