<div class="fieldset-group">
    <legend class="fieldset-group__legend">Популярне</legend>
    <div class="controls-group">
        <label class="checkbox-item">
            {{ search_form.is_new_building }}
            <span>{{ search_form.is_new_building.label }}</span>
        </label>
        <label class="checkbox-item">
            {{ search_form.animals }}
            <span>{{ search_form.animals.label }}</span>
        </label>
        <label class="checkbox-item">
            {{ search_form.furniture }}
            <span>{{ search_form.furniture.label }}</span>
        </label>
        <label class="checkbox-item">
            {{ search_form.for_students }}
            <span>{{ search_form.for_students.label }}</span>
        </label>
        <label class="checkbox-item">
            {{ search_form.conditioner }}
            <span>{{ search_form.conditioner.label }}</span>
        </label>
        <label class="checkbox-item">
            {{ search_form.without_furniture }}
            <span>{{ search_form.without_furniture.label }}</span>
        </label>
    </div>
</div>