{% load i18n %}
{% load static %}

{% if search_form %}
    <form id="search-form" data-initial-count="{{ count }}" action="{% url 'listings:list' %}" data-count="{% url 'listings:get_listings_count' %}" method="get" class="form__main-search form-search">
        <div class="search-header">
            {% for choice in search_form.deal %}
                <label class="deal-type">
                    {{ choice.tag }}
                    <div class="search-header__btn">
                        {% if choice.choice_label == 'Продаж' %}
                            {% trans 'Buy' %}
                        {% else %}
                            {% trans 'Rent' %}
                        {% endif %}
                    </div>
                </label>
            {% endfor %}
            <a href="{% url 'pages:seller' %}" class="search-header__btn">{% trans 'Sell' %}</a>
            <a href="{% url 'pages:seller' %}" class="search-header__btn">{% trans 'Rent out' %}</a>
            <a href="{% url 'pages:seller' %}" class="search-header__btn">{% trans 'Credit and mortgage' %}</a>
            <a href="{% url 'pages:seller' %}" class="search-header__btn">{% trans 'Property valuation' %}</a>
        </div>
        <div class="search-filters">
            <label class="search-filters__item filter-item filter-item_grow">
                <span class="filter-item__label">
                    {{ search_form.address_input.label }}*
                </span>
                <div class="suggestions">
                    <div class="input-wrapper input-wrapper__search">
                        {{ search_form.address_input }}
                    </div>
                    {{ search_form.city }}
                    {{ search_form.street }}
                    {{ search_form.district }}
                    {{ search_form.house_complex }}
                    <div id="address_suggestions-wrapper" class="suggestions-wrapper"></div>
                </div>
            </label>
            <label class="search-filters__item filter-item">
                <span class="filter-item__label">
                    {{ search_form.realty_type.label }}
                </span>
                <div class="select-wrapper">
                    {{ search_form.realty_type }}
                </div>
            </label>
            <div class="search-filters__item filter-item">
                <span class="filter-item__label">
                    {{ search_form.number_of_rooms.label }}
                </span>
                <div class="filter-item__group">
                    {% for choice in search_form.number_of_rooms %}
                        <label class="radio-group">
                            {{ choice.tag }}
                            <span>{{ choice.choice_label }}</span>
                        </label>
                    {% endfor %}
                </div>
            </div>
            <label class="search-filters__item filter-item">
                <span class="filter-item__label">
                    {% trans 'Price' %} ($)
                </span>
                <div class="input-wrapper">
                    {{ search_form.min_price }}
                    {{ search_form.max_price }}
                </div>
            </label>
        </div>
        <div class="additional-fields">
            <div class="additional-fields-inner">
                <div class="additional-fields__section additional-section">
                    <div class="fieldset-group">
                        <legend class="fieldset-group__legend">{% trans 'Building' %}</legend>
                        <div class="controls-group">
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {% trans 'Area (m²)' %}
                                </span>
                                <div class="input-wrapper">
                                    {{ search_form.min_area }}
                                    {{ search_form.max_area }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {% trans 'Floor' %}
                                </span>
                                <div class="input-wrapper">
                                    {{ search_form.floor_from }}
                                    {{ search_form.floor_to }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {% trans 'Floors in the house' %}
                                </span>
                                <div class="input-wrapper">
                                    {{ search_form.floors_from }}
                                    {{ search_form.floors_to }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {{ search_form.repair.label }}
                                </span>
                                <div class="select-wrapper">
                                    {{ search_form.repair }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {{ search_form.planning.label }}
                                </span>
                                <div class="select-wrapper">
                                    {{ search_form.planning }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {{ search_form.listing_class.label }}
                                </span>
                                <div class="select-wrapper">
                                    {{ search_form.listing_class }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {{ search_form.floor.label }}
                                </span>
                                <div class="select-wrapper">
                                    {{ search_form.floor }}
                                </div>
                            </label>
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {{ search_form.windows.label }}
                                </span>
                                <div class="select-wrapper">
                                    {{ search_form.windows }}
                                </div>
                            </label>
                            <br>
                            <label class="checkbox-item" style="width:100%;margin-top:0.5em;">
                                {{ search_form.is_new_building }}
                                <span>{{ search_form.is_new_building.label }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="fieldset-group">
                        <legend class="fieldset-group__legend">{% trans 'Court' %}</legend>
                        <div class="controls-group">
                            <label class="filter-item">
                                <span class="filter-item__label">
                                    {{ search_form.enter.label }}
                                </span>
                                <div class="select-wrapper">
                                    {{ search_form.enter }}
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="fieldset-group">
                        <legend class="fieldset-group__legend">{% trans 'Media' %}</legend>
                        <div class="controls-group">
                            <label class="checkbox-item">
                                {{ search_form.with_photo }}
                                <span>{{ search_form.with_photo.label }}</span>
                            </label>
                            <label class="checkbox-item">
                                {{ search_form.with_video }}
                                <span>{{ search_form.with_video.label }}</span>
                            </label>
                        </div>
                    </div>
                </div>
                {{ search_form.polygon }}
            </div>
        </div>
        <div class="submit-row">
            <button type="submit" class="form-search__submit btn btn_primary">
                <span class="text">{% trans 'Show' %}</span>
                <span class="count">({{ count }})</span>
            </button>
            <button type="button" class="form-search__advanced-btn btn btn_invert">
                <img class="btn__img" src="{% static 'img/icon-search.png' %}" alt="пошук" width="64" height="64">
                <span>{% trans 'Advanced search' %}</span>
            </button>
        </div>
        <div class="active-filters"></div>
    </form>
{% endif %}
