{% extends 'layout/base.html' %}
{% load i18n %}
{% load listing_extras %}

{% block title %}Акції{% endblock %}

{% block content %}
<main class="discount">
    <div class="container">
        <div class="section-header">
            <h1 class="section-header__title animate animate_text">
                {% trans "Discounts" as title %}
                {{ title|wrap_words_in_span|safe }}
            </h1>
        </div>
        {% if discounts %}
            <ul class="discount-group">
                {% for discount in discounts %}
                    {% include 'discounts/archive-item.html' %}
                {% endfor %}
            </ul>
            {% include 'pagination.html' with page=discounts %}
        {% else %}
            {% include 'nothing-found.html' %}
        {% endif %}
    </div>
</main>
{% endblock %}