{% extends 'layout/base.html' %}
{% load listing_extras %}

{% block title %}Акції{% endblock %}

{% block content %}
<main class="discount">
    <div class="container">
        <div class="section-header">
            <h1 class="section-header__title animate animate_text">
                {{ "Aкції"|wrap_words_in_span|safe }}
            </h1>
        </div>
        {% if discounts %}
            <ul class="discount-group">
                {% for discount in discounts %}
                    {% include 'discounts/archive-item.html' %}
                {% endfor %}
            </ul>
            {% include 'pagination.html' with page=discounts %}
        {% else %}
            <p class="section-header__subtitle section-header__subtitle_strong">
                Поки що немає записів... Повернутись на <a href="/">головну</a>
            </p>
        {% endif %}
    </div>
</main>
{% endblock %}