{% load solo_tags %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'uk' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% get_solo 'props.SiteConfiguration' as site_config %}
    <title>{% block title %}{% trans 'Home' %}{% endblock %} - {% if request.LANGUAGE_CODE == 'en' %}{{ site_config.site_name_en }}{% else %}{{ site_config.site_name_uk }}{% endif %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    {% if site_config.google_api_key %}
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="content">
        {% include 'sections/header.html' %}
        {% block extra_main %}{% endblock %}
        {% include 'sections/breadcrumbs.html' %}
        {% block content %}{% endblock %}
    </div>
    <!-- /.content -->
    {% include 'sections/footer.html' %}
    {% include 'sections/popup.html' %}
    <script src="{% static 'js/common.js' %}"></script>
    {% if site_config.google_api_key %}
        <script>
          (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
            key: "{{ site_config.google_api_key }}",
            v: "weekly",
            // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
          });
        </script>
    {% endif %}
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="{% static 'js/predictions.js' %}" type="module"></script>
    <script src="{% static 'js/search.js' %}" type="module"></script>
    <script src="{% static 'js/wishlist.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>
