{% load solo_tags %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE|default:'uk' }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% get_solo 'props.SiteConfiguration' as site_config %}
    <title>{% block title %}{% trans 'Home' %}{% endblock %} - {% if request.LANGUAGE_CODE == 'en' %}{{ site_config.site_name_en }}{% else %}{{ site_config.site_name_uk }}{% endif %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div class="content">
        {% include 'sections/header.html' %}
        {% block extra_main %}{% endblock %}
        {% include 'sections/breadcrumbs.html' %}
        {% block content %}{% endblock %}
    </div>
    <!-- /.content -->
    {% include 'sections/footer.html' %}
    {% include 'sections/popup.html' %}
    <script src="{% static 'js/common.js' %}"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script>
        const csrfToken = "{{ csrf_token }}";
        const locale = "{{ request.LANGUAGE_CODE|default:'uk' }}";
        const localization = {
            'en': {
                'searchBtn': {
                    'enter': 'Select an address',
                    'found': 'Show',
                    'notFound': 'No listings found'
                },
                'moreBtn': 'More',
                'clearBtn': 'Clear all',
                'sugesstions': {
                    'noAddressFound': 'No address found',
                    'city': 'City',
                    'address': 'Address'
                }
            },
            'uk': {
                'searchBtn': {
                    'enter': 'Виберіть адресу',
                    'found': 'Показати',
                    'notFound': 'Не знайдено оголошень'
                },
                'moreBtn': 'Ще',
                'clearBtn': 'Очистити все',
                'sugesstions': {
                    'noAddressFound': 'Не знайдено адрес',
                    'city': 'Місто',
                    'address': 'Адреса'
                }
            }
        }
    </script>
    <script src="{% static 'js/predictions.js' %}" type="module"></script>
    <script src="{% static 'js/search.js' %}" type="module"></script>
    <script src="{% static 'js/wishlist.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
