{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load listing_extras %}

{% block title %}{{ manager.full_name }}{% endblock %}

{% block content %}
<main class="employee">
    <div class="container">
        <div class="employee-row">
            <div class="col">
                <div class="employee-header">
                    {% if manager.image_url %}
                        <img src="{{ manager.image_url }}" class="employee-header__img" alt="Вікторова Вікторія Олександрівна" width="266">
                    {% endif %}
                    <div class="section-header section-header_invert">
                        <h1 class="section-header__title animate animate_text">
                            {{ manager.full_name|wrap_words_in_span|safe }}
                        </h1>
                        <p class="section-header__subtitle section-header__subtitle_strong">{% trans 'Real estate specialist' %}</p>
                        <table class="section-header__table">
                            <tbody>
                                {% if manager.email %}
                                    <tr>
                                        <th>{% trans 'Email' %}:</th>
                                        <td>
                                            <a href="mailto:{{ manager.email }}">
                                                {{ manager.email }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if manager.phones %}
                                    {% for phone in manager.phones.all %}
                                        <tr>
                                            {% if manager.phones.count > 1 %}
                                                <th>{% trans 'Phone' %} {{ forloop.counter }}:</th>
                                            {% else %}
                                            <th>{% trans 'Phone' %}:</th>
                                            {% endif %}
                                            <td>
                                                <a href="tel:{{ phone.clean_phone }}">{{ phone.phone }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                        <button type="button" class="btn btn_primary open-popup" data-popup="popup-review">{% trans 'Leave a review' %}</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <form class="employee-form send-form" method="post" action="{% url 'emails:manager_quick_message' id=manager.id %}">
                    <h2 class="employee-form__title">{% trans 'Leave your phone number and we will call you back in 5 minutes' %}</h2>
                    <fieldset class="employee-form__fieldset">
                        {{ feadback_form.name }}
                        {{ feadback_form.phone }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn_primary">
                            <span class="ready">{% trans 'Call me back' %}</span>
                            <span class="sending">{% trans 'Sending...' %}</span>
                            <span class="sent">{% trans 'Sent!' %}</span>
                            <span class="error">{% trans 'Error sending...' %}</span>
                        </button>
                    </fieldset>
                    <p class="employee-form__footer">{% trans 'By submitting an application, you agree to the processing of personal data' %}</p>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="section">
    <div class="container">
        <div class="employee-tabs">
            {% if manager.experience or manager.has_car or manager.about %}
                <button class="employee-tabs__btn btn btn_darken" type="button" data-id="#tab-1">{% trans 'About me' %}</button>
            {% endif %}
            {% if reviews_count %}
                <button class="employee-tabs__btn btn btn_darken" type="button" data-id="#tab-2">{% trans 'Reviews' %} {% if reviews_count %}({{ reviews_count }}) {% endif %}</button>
            {% endif %}
            {% if listings_count %}
                <button class="employee-tabs__btn btn btn_darken" type="button" data-id="#tab-3">
                    {% trans 'My offers' %} ({{ listings_count }})
                </button>
            {% endif %}
        </div>
        <div class="employee-tabs-content">
            {% if manager.experience or manager.has_car or manager.about %}
                <div id="tab-1" class="prop-tab">
                    {% if manager.experience or manager.has_car %}
                        <ul class="employee-props">
                            {% if manager.experience %}
                                <li class="employee-props__item">
                                    <div class="thumb">
                                        <img src="{% static 'img/icon-case.png' %}" class="accent" alt="кейс" width="60"
                                             height="52" loading="lazy">
                                    </div>
                                    <div class="employee-props__content">
                                        <p class="employee-props__label">{% trans 'Experience' %}</p>
                                        <p class="employee-props__value">{{ manager.experience }}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if manager.has_car %}
                                <li class="employee-props__item">
                                    <div class="thumb">
                                        <img src="{% static 'img/icon-car.png' %}" class="accent" alt="авто" width="64"
                                             height="42" loading="lazy">
                                    </div>
                                    <div class="employee-props__content">
                                        <p class="employee-props__label">{% trans 'Car' %}</p>
                                        <p class="employee-props__value">{% trans 'In stock' %}</p>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            {% if reviews.count %}
                <div id="tab-2" class="prop-tab">
                    <ul class="reviews-grid">
                        {% for review in reviews %}
                            {% include 'reviews/item.html' %}
                        {% endfor %}
                    </ul>
                    {% if reviews_count > reviews.count %}
                        <div class="pagination pagination_center">
                            <button type="button" class="btn btn_invert btn_rounded ajax-show-more"
                                    data-url="{{ request.path }}" data-page="2" data-type="review">{% trans 'Show more' %}</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            {% if listings_count %}
                <div id="tab-3" class="prop-tab">
                    <ul class="emplyees-objects">
                        {% for item in listings %}
                            {% include 'listings/archive-item.html' %}
                        {% endfor %}
                    </ul>
                    {% if listings_count > listings.count %}
                        <div class="pagination pagination_center">
                            <button type="button" class="btn btn_invert btn_rounded ajax-show-more"
                                    data-url="{{ request.path }}" data-page="2" data-type="listing">{% trans 'Show more' %}</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $('.ajax-show-more').on('click', function() {
        const $this = $(this);
        const url = $this.attr('data-url');
        const page = $this.attr('data-page');
        const type = $this.attr('data-type');
        const itemsDestination = $this.closest('.prop-tab').find('ul');
        const buttonDestination = $this.closest('.prop-tab');
        const paginationWrapper = $this.closest('.pagination');
        $this.attr('disabled', true);
        $.ajax({
            url: url,
            method: 'GET',
            data: {
                page: page,
                type: type
            },
            success: (res) => {
                const items = $(res).find('.object-item, .reviews-item');
                const nextPage = items.attr('data-page');
                itemsDestination.append(items);
                if (!nextPage) {
                    paginationWrapper.remove();
                    return false;
                }
                $this.attr('data-page', nextPage);
                $this.attr('disabled', false);
            }
        });
    });
</script>
{% endblock %}