{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Wishlist' %}{% endblock %}

{% block content %}
    <main class="wishlist">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title animate animate_text"><span>{% trans 'Wishlist' %}</span></h1>
            </div>
            {% if listings %}
                <ul class="analytics-group">
                    {% for item in listings %}
                        {% include 'listings/archive-item.html' %}
                    {% endfor %}
                </ul>
                {% include 'pagination.html' with page=listings %}
            {% else %}
                <p class="section-header__subtitle section-header__subtitle_strong">
                    {% trans 'No listings in your wishlist' %}
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}