{% load thumbnail %}
<li class="post-item">
    <div class="post-item__inner">
        <a href="news.html" class="post-item__thumb">
            <img src="{{ item.thumbnail|thumbnail_url:'medium' }}" alt="Краєвид на місто" width="325" height="171" class="post-item__image" loading="lazy">
        </a>
        <div class="post-item__content">
            <time class="post-item__date">{{ item.created|date:"d.m.Y" }}</time>
            <h3 class="post-item__title line line_2">{{ item.title }}</h3>
            <a href="{{ item.get_absolute_url }}" class="post-item__link">Переглянути</a>
        </div>
    </div>
</li>