{% extends 'layout/base.html' %}
{% load listing_extras %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    
    <main class="post">
        <div class="container">
            <div class="post-wrapper">
                <div class="section-header">
                    <h1 class="section-header__title animate animate_text">{{ post.title|wrap_words_in_span|safe }}</h1>
                </div>
                <div class="post__content">
                    {{ post.body|safe }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}