{% extends 'layout/base.html' %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <nav class="breadcrumbs-group">
                <a href="index.html" class="breadcrumbs-group__link">Головна</a>
                <span class="breadcrumbs-group__text">{{ title }}</span>
            </nav>
        </div>
    </div>
    <main class="analytics">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title">{{ title }}</h1>
            </div>
            {% if news %}
                <ul class="analytics-group">
                    {% for item in news %}
                        {% include 'news/archive-item.html' %}
                    {% endfor %}
                </ul>
                {% include 'pagination.html' with page=news %}
            {% else %}
                <p class="section-header__subtitle section-header__subtitle_strong">
                    Поки що немає записів... Повернутись на <a href="/">головну</a>
                </p>
            {% endif %}
        </div>
    </main>
{% endblock %}