{% extends 'layout/base.html' %}
{% load i18n %}
{% load listing_extras %}

{% block title %}{{ title }}{% endblock %}


{% block content %}
    <main class="analytics">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title animate animate_text">
                    {% trans title as translated_title %}
                    {{ translated_title|wrap_words_in_span|safe }}
                </h1>
            </div>
            {% if news %}
                <ul class="analytics-group">
                    {% for item in news %}
                        {% include 'news/archive-item.html' %}
                    {% endfor %}
                </ul>
                {% include 'pagination.html' with page=news %}
            {% else %}
                {% include 'nothing-found.html' %}
            {% endif %}
        </div>
    </main>
{% endblock %}