{% load thumbnail %}
<li class="object-item"{% if next_page %} data-page="{{ next_page }}"{% endif %} data-id="{{ item.id }}">
    <div class="object-item-inner">
        <a href="{{ item.get_absolute_url }}" class="object-item__thumb">
            <span class="visited"><span>Переглянуто</span></span>
            {% if item.images.last %}
                <img src="{{ item.images.first.file|thumbnail_url:'medium' }}" width="1000" height="667"
                     alt="{{ item.title }}" class="object-item__img" loading="lazy">
            {% endif  %}
        </a>
        <div class="object-item__content">
            <p class="object-item__fix">Ремонт по дизайну</p>
            <div class="object-item__header">
                <div class="object-item__price">
                    <strong>{{ item.formated_price }}$</strong>
                    <span>{{ item.price_per_square }}$/м²</span>
                </div>
                <h2 class="object-item__title line line_2" title="{{ item.title }}">
                    <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </h2>
            </div>
            <hr>
            <p class="object-item__address line line_2">{{ item.get_address_string }}</p>
            <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
        </div>
    </div>
</li>