{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load listing_extras %}

{% block title %}{{ listing.title }}{% endblock %}

{% block content %}
<main class="object" data-id="{{ listing.id }}">
    <div class="container">
        <nav class="object-nav">
            <a href="#gallery" class="object-nav__link">{% trans 'Gallery' %}</a>
            <a href="#about" class="object-nav__link">{% trans 'Description' %}</a>
            <a href="#params" class="object-nav__link">{% trans 'Characteristics' %}</a>
            <a href="#check" class="object-nav__link">{% trans 'Real estate inspection' %}</a>
            <a href="#reserve" class="object-nav__link">{% trans 'Reserve' %}</a>
            <a href="#mortgage" class="object-nav__link">{% trans 'Mortgage' %}</a>
            <a href="#time" class="object-nav__link">{% trans 'Time to go' %}</a>
        </nav>
        <div class="object-row">
            <div class="col object-data">
                <div id="gallery" class="object-gallery-wrapper">
                    <div class="object-gallery fotorama" data-width="100%" data-ratio="16/9" data-fit="cover" data-nav="thumbs" data-thumbwidth="128" data-thumbwidth="96" data-allowfullscreen="true">
                        {% if listing.video_url %}
                            <a href="{{ listing.video_url }}" data-video="true"></a>
                        {% endif %}
                        {% if listing.images.count %}
                            {% for image in listing.images.all %}
                                <img src="{{ image.image_url }}" alt="кімната" data-thumb="{{ image.image_url }}" loading="lazy">
                            {% endfor %}
                        {% else %}
                            <img src="{% static 'img/estate_no_image.png' %}" alt="дім" loading="lazy">
                        {% endif %}
                    </div>
                    <div class="object-gallery-interactive open-popup" data-popup="popup-listing-map">
                        <img src="{% static 'img/object-map.jpg' %}" alt="план" class="object-gallery-interactive__image" loading="lazy">
                        <p class="object-gallery-interactive__label">
                            <img src="{% static 'img/icon-marker-4.png' %}" width="24" height="32" alt="маркер" loading="lazy">
                            <span>{% trans 'Map' %}</span>
                        </p>
                    </div>
                </div>
                <div id="about" class="object-box">
                    <div class="row">
                        <div class="col">
                            <div class="object-box-header">
                                <h2 class="object-box-header__title animate animate_text">{{ listing.title|wrap_words_in_span|safe }}</h2>
                                <p class="object-box-header__subtitle">{{ listing.get_address_string }}</p>
                                <button type="button" data-popup="popup-listing-map" class="object-map-button open-popup">
                                    <img src="{% static 'img/icon-marker.png' %}" alt="маркер" loading="lazy" width="48" height="64">
                                    <span>{% trans 'On the map' %}</span>
                                </button>
                            </div>
                            <div class="object-box__controls">
                                <button type="button" data-id="{{ listing.id }}" class="wishlist-link add-to-wishlist">
                                    <img src="{% static 'img/icon-heart.png' %}" class="wishlist-link__img accent" alt="серце" width="64" height="56">
                                </button>
                                {% include 'listings/components/social-share.html' %}
                            </div>
                        </div>
                        {% if listing.formated_price %}
                            <div class="col">
                                <p class="object-box__price">{{ listing.formated_price }}</p>
                                {% if listing.price_per_square %}
                                    <p class="object-box__price-per-square">{{ listing.price_per_square }}/м²</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% include 'listings/components/manager.html' %}
                {% if listing.description %}
                    <div class="object-box">
                        <div class="object-box-header">
                            <h2 class="object-box-header__title animate animate_text">
                            {% trans 'Description' as title %}
                            {{ title|wrap_words_in_span|safe }}
                            </h2>
                        </div>
                        <div class="object-box__content">
                            {{ listing.description }}
                        </div>
                    </div>
                {% endif %}
                {% include 'listings/components/attributes.html' %}
                <div id="check" class="object-box">
                    <div class="object-box-header">
                        <h2 class="object-box-header__title animate animate_text">
                            {% trans 'Inspect the property before you buy' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h2>
                        <p class="object-box-header__subtitle">{% trans 'Get a legal due diligence on your property to minimize your risks' %}</p>
                    </div>
                    <div class="object-box__content">
                        <ul>
                            <li>{% trans 'Number of owners' %}</li>
                            <li>{% trans 'The presence of encumbrances' %}</li>
                            <li>{% trans 'Is there a mortgage?' %}</li>
                            <li>{% trans 'Years of property ownership' %}</li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn_invert btn_shadow open-popup" data-popup="popup-listing-check">{% trans 'Check the property' %}</button>
                </div>
                <div id="reserve" class="object-box">
                    <div class="object-box-header">
                        <h2 class="object-box-header__title animate animate_text">
                            {% trans 'Sign up for viewing' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h2>
                        <p class="object-box-header__subtitle">{% trans 'A real estate specialist will contact you, confirm the selected viewing time, arrange a visit to the offer and give you a tour.' %}</p>
                    </div>
                    <form class="object-box-form send-form" method="post" 
                          action="{% url 'emails:listing_visit' id=listing.id %}">
                        <fieldset class="object-box-form__fieldset">
                            {{ listing_visit_form.date }}
                            {{ listing_visit_form.time }}
                            {{ listing_visit_form.phone }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn_primary">
                                <span class="ready">{% trans 'Sign up for viewing' %}</span>
                                <span class="sending">{% trans 'Sending...' %}</span>
                                <span class="sent">{% trans 'Sent!' %}</span>
                                <span class="error">{% trans 'Error sending...' %}</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div id="mortgage" class="object-box">
                    <div class="object-box-header">
                        <h2 class="object-box-header__title animate animate_text">
                            {% trans 'Calculate the mortgage' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h2>
                        <p class="object-box-header__subtitle">{% trans 'We can calculate a mortgage with no down payment, just specify 0%.' %}</p>
                    </div>
                    <form class="object-box-form send-form" method="post" 
                          action="{% url 'emails:listing_credit' id=listing.id %}">
                        <fieldset class="object-box-form__fieldset">
                            {{ listing_phone_form.phone }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn_primary">
                                <span class="ready">{% trans 'Get a consultation' %}</span>
                                <span class="sending">{% trans 'Sending...' %}</span>
                                <span class="sent">{% trans 'Sent!' %}</span>
                                <span class="error">{% trans 'Error sending...' %}</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div class="object-box">
                    <div class="object-box-header">
                        <h2 class="object-box-header__title animate animate_text">
                            {% trans 'Agreement security guarantee' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h2>
                        <p class="object-box-header__subtitle">{% trans 'You are under reliable protection - in case of disputed situations, we bear all costs.' %}</p>
                    </div>
                    <a href="{% url 'pages:guarantees' %}" class="btn btn_primary">{% trans 'More details' %}</a>
                </div>
                {% include 'listings/components/directions.html' %}
                {% include 'listings/components/similar_listings.html' %}
                {% include 'listings/components/related_listings.html' %}
                {% include 'listings/components/news.html' %}
            </div>
            <div class="col">
                {% include 'listings/components/manager.html' %}
            </div>
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %}
<script>
    const listing = {
        title: "{{ listing.title }}",
        position: {
            lat: {{ listing.get_coordinates_lat }},
            lng: {{ listing.get_coordinates_lng }}
        }
    };

    let map;

    function initMap() {
        const position = L.latLng(listing.position.lat, listing.position.lng);

        map = L.map('listing-map').setView(position, 16);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 19
        }).addTo(map);

        const markerIcon = L.icon({
            iconUrl: "{{ request.scheme }}://{{ request.get_host }}{% static 'img/custom-marker_small.png' %}",
            iconSize: [30, 30],
            iconAnchor: [15, 30],
            popupAnchor: [0, -30]
        });

        const marker = L.marker(position, {
            title: listing.title,
            icon: markerIcon
        }).addTo(map);

        marker.on('click', function() {
            map.setView(marker.getLatLng(), 17);
        });
    }

    initMap();
</script>
<script>
    const listingId = "{{ listing.id }}";
    let viewedListings = localStorage.getItem('viewedListings');

    if (!viewedListings) {
        viewedListings = [listingId];
    } else {
        viewedListings = JSON.parse(viewedListings);
        if (viewedListings.indexOf(listingId) === -1) {
            viewedListings.push(listingId);
        }
    }
    localStorage.setItem('viewedListings', JSON.stringify(viewedListings));

    (function() {
        let wishlist = getCookie('wishlist');
        if (wishlist) {
            wishlist = wishlist.split(',');
            if (wishlist.includes(listingId)) {
                $(`.wishlist-link[data-id="${listingId}"]`).addClass('added');
            }
        }
    })();
</script>
{% endblock %}