{% extends 'layout/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ listing.title }}{% endblock %}

{% block content %}
<main class="object" data-id="{{ listing.id }}">
    <div class="container">
        <nav class="object-nav">
            <a href="#gallery" class="object-nav__link">Галерея</a>
            <a href="#about" class="object-nav__link">Опис</a>
            <a href="#params" class="object-nav__link">Характеристики</a>
            <a href="#check" class="object-nav__link">Перевірка нерухомості</a>
            <a href="#reserve" class="object-nav__link">Забронювати</a>
            <a href="#mortgage" class="object-nav__link">Іпотека</a>
            <a href="#time" class="object-nav__link">Час на дорогу</a>
        </nav>
        <div class="object-row">
            <div class="col object-data">
                <div id="gallery" class="object-gallery-wrapper">
                    <div class="object-gallery fotorama" data-width="100%" data-ratio="16/9" data-fit="cover" data-nav="thumbs" data-thumbwidth="128" data-thumbwidth="96" data-allowfullscreen="true">
                        {% for image in listing.images.all %}
                            <img src="{{ image.file|thumbnail_url:'large' }}" alt="кімната" data-thumb="{{ image.file|thumbnail_url:'small' }}">
                        {% endfor %}
                    </div>
                    <div class="object-gallery-interactive open-popup" data-popup="popup-listing-map">
                        <img src="{% static 'img/object-map.jpg' %}" alt="план" class="object-gallery-interactive__image" loading="lazy">
                        <p class="object-gallery-interactive__label">
                            <img src="{% static 'img/icon-marker-4.png' %}" width="24" height="32" alt="маркер" loading="lazy">
                            <span>Мапа</span>
                        </p>
                    </div>
                </div>
                <div id="about" class="object-box">
                    <div class="row">
                        <div class="col">
                            <div class="object-box-header">
                                <h1 class="object-box-header__title">{{ listing.title }}</h1>
                                <p class="object-box-header__subtitle">{{ listing.get_address_string }}</p>
                                <button type="button" data-popup="popup-listing-map" class="object-map-button open-popup">
                                    <img src="{% static 'img/icon-marker.png' %}" alt="маркер" loading="lazy" width="48" height="64">
                                    <span>На мапі</span>
                                </button>
                            </div>
                            <div class="object-box__controls">
                                <button type="button" data-id="{{ listing.id }}" class="wishlist-link add-to-wishlist{% if in_wishlist %} added{% endif %}">
                                    <img src="{% static 'img/icon-heart.png' %}" class="wishlist-link__img accent" alt="серце" width="64" height="56">
                                </button>
                                {% include 'listings/components/social-share.html' %}
                            </div>
                        </div>
                        {% if listing.formated_price %}
                            <div class="col">
                                <p class="object-box__price">{{ listing.formated_price }}$</p>
                                {% if listing.price_per_square %}
                                    <p class="object-box__price-per-square">{{ listing.price_per_square }}$/м²</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="object-box">
                    <div class="object-box-header">
                        <h1 class="object-box-header__title">Опис</h1>
                    </div>
                    <div class="object-box__content">
                        {{ listing.description }}
                    </div>
                </div>
                {% include 'listings/components/attributes.html' with kits=listing.kits %}
                <div id="check" class="object-box">
                    <div class="object-box-header">
                        <h1 class="object-box-header__title">Перевірте нерухомість перед покупкою</h1>
                        <p class="object-box-header__subtitle"> Отримайте юридичну перевірку нерухомості для мінімізації ризиків </p>
                    </div>
                    <div class="object-box__content">
                        <ul>
                            <li>Кількість власників</li>
                            <li>Наявність обтяжень</li>
                            <li>Чи є іпотека</li>
                            <li>Роки володіння нерухомістю</li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn_invert btn_shadow open-popup" data-popup="popup-listing-check">Перевірити нерухомість</button>
                </div>
                <div id="reserve" class="object-box">
                    <div class="object-box-header">
                        <h1 class="object-box-header__title">Записатись на перегляд</h1>
                        <p class="object-box-header__subtitle"> З вами зв'яжеться спеціаліст з нерухомості, підтвердить обраний час перегляду, організує відвідування пропозиції та проведе вам екскурсію. </p>
                    </div>
                    <form class="object-box-form send-form" method="post" 
                          action="{% url 'emails:listing_visit' id=listing.id %}">
                        <fieldset class="object-box-form__fieldset">
                            {{ listing_visit_form.date }}
                            {{ listing_visit_form.time }}
                            {{ listing_visit_form.phone }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn_primary">
                                <span class="ready">Записатись на перегляд</span>
                                <span class="sending">Надсилання...</span>
                                <span class="sent">Надіслано!</span>
                                <span class="error">Помилка надсилання...</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div id="mortgage" class="object-box">
                    <div class="object-box-header">
                        <h1 class="object-box-header__title">Розрахуйте іпотеку</h1>
                        <p class="object-box-header__subtitle"> Можемо розрахувати іпотеку без початкового внеску, просто вкажіть 0%. </p>
                    </div>
                    <form class="object-box-form send-form" method="post" 
                          action="{% url 'emails:listing_credit' id=listing.id %}">
                        <fieldset class="object-box-form__fieldset">
                            {{ listing_phone_form.phone }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn_primary">
                                <span class="ready">Отримати консультацію</span>
                                <span class="sending">Надсилання...</span>
                                <span class="sent">Надіслано!</span>
                                <span class="error">Помилка надсилання...</span>
                            </button>
                        </fieldset>
                    </form>
                </div>
                <div class="object-box">
                    <div class="object-box-header">
                        <h1 class="object-box-header__title">Гарантія безпеки угоди</h1>
                        <p class="object-box-header__subtitle"> Ви під надійним захистом - у разі спірних ситуацій беремо всі витрати на себе. </p>
                    </div>
                    <a href="guarante.html" class="btn btn_primary">Детальніше</a>
                </div>
                {% include 'listings/components/directions.html' %}
                <div class="object-box">
                    <div class="object-box-header">
                        <h1 class="object-box-header__title">Вартість аналогічних квартир по місту</h1>
                        <p class="object-box-header__subtitle"> Аналогічні квартири підбираються за подібними параметрами: кімнатність, поверховість, матеріал стін, ремонт, рік, клас та серія будинку, ЖК, район </p>
                    </div>
                    <ul class="post-group object-slider">
                        <li class="object-item">
                            <div class="object-item-inner">
                                <a href="object.html" class="object-item__thumb">
                                    <img src="{% static 'img/object-1.jpg' %}" width="1000" height="667" alt="кімната" class="object-item__img" loading="lazy">
                                </a>
                                <div class="object-item__content">
                                    <p class="object-item__fix">Ремонт по дизайну</p>
                                    <div class="object-item__header">
                                        <div class="object-item__price">
                                            <strong>75 000$</strong>
                                            <span>540$/м²</span>
                                        </div>
                                        <h2 class="object-item__title">
                                            <a href="object.html">3-кімн. квартира, 80м², 8/14 поверх</a>
                                        </h2>
                                    </div>
                                    <hr>
                                    <p class="object-item__address line line_2">вул. Клочківська, буд 24, р-й Харківський, м. Харків</p>
                                    <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
                                </div>
                            </div>
                        </li>
                        <li class="object-item">
                            <div class="object-item-inner">
                                <a href="object.html" class="object-item__thumb">
                                    <img src="{% static 'img/object-1.jpg' %}" width="1000" height="667" alt="кімната" class="object-item__img" loading="lazy">
                                </a>
                                <div class="object-item__content">
                                    <p class="object-item__fix">Ремонт по дизайну</p>
                                    <div class="object-item__header">
                                        <div class="object-item__price">
                                            <strong>75 000$</strong>
                                            <span>540$/м²</span>
                                        </div>
                                        <h2 class="object-item__title">
                                            <a href="object.html">3-кімн. квартира, 80м², 8/14 поверх</a>
                                        </h2>
                                    </div>
                                    <hr>
                                    <p class="object-item__address line line_2">вул. Клочківська, буд 24, р-й Харківський, м. Харків</p>
                                    <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
                                </div>
                            </div>
                        </li>
                        <li class="object-item">
                            <div class="object-item-inner">
                                <a href="object.html" class="object-item__thumb">
                                    <img src="{% static 'img/object-1.jpg' %}" width="1000" height="667" alt="кімната" class="object-item__img" loading="lazy">
                                </a>
                                <div class="object-item__content">
                                    <p class="object-item__fix">Ремонт по дизайну</p>
                                    <div class="object-item__header">
                                        <div class="object-item__price">
                                            <strong>75 000$</strong>
                                            <span>540$/м²</span>
                                        </div>
                                        <h2 class="object-item__title">
                                            <a href="object.html">3-кімн. квартира, 80м², 8/14 поверх</a>
                                        </h2>
                                    </div>
                                    <hr>
                                    <p class="object-item__address line line_2">вул. Клочківська, буд 24, р-й Харківський, м. Харків</p>
                                    <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
                                </div>
                            </div>
                        </li>
                        <li class="object-item">
                            <div class="object-item-inner">
                                <a href="object.html" class="object-item__thumb">
                                    <img src="{% static 'img/object-1.jpg' %}" width="1000" height="667" alt="кімната" class="object-item__img" loading="lazy">
                                </a>
                                <div class="object-item__content">
                                    <p class="object-item__fix">Ремонт по дизайну</p>
                                    <div class="object-item__header">
                                        <div class="object-item__price">
                                            <strong>75 000$</strong>
                                            <span>540$/м²</span>
                                        </div>
                                        <h2 class="object-item__title">
                                            <a href="object.html">3-кімн. квартира, 80м², 8/14 поверх</a>
                                        </h2>
                                    </div>
                                    <hr>
                                    <p class="object-item__address line line_2">вул. Клочківська, буд 24, р-й Харківський, м. Харків</p>
                                    <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
                                </div>
                            </div>
                        </li>
                        <li class="object-item">
                            <div class="object-item-inner">
                                <a href="object.html" class="object-item__thumb">
                                    <img src="{% static 'img/object-1.jpg' %}" width="1000" height="667" alt="кімната" class="object-item__img" loading="lazy">
                                </a>
                                <div class="object-item__content">
                                    <p class="object-item__fix">Ремонт по дизайну</p>
                                    <div class="object-item__header">
                                        <div class="object-item__price">
                                            <strong>75 000$</strong>
                                            <span>540$/м²</span>
                                        </div>
                                        <h2 class="object-item__title">
                                            <a href="object.html">3-кімн. квартира, 80м², 8/14 поверх</a>
                                        </h2>
                                    </div>
                                    <hr>
                                    <p class="object-item__address line line_2">вул. Клочківська, буд 24, р-й Харківський, м. Харків</p>
                                    <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
                                </div>
                            </div>
                        </li>
                        <li class="object-item">
                            <div class="object-item-inner">
                                <a href="object.html" class="object-item__thumb">
                                    <img src="{% static 'img/object-1.jpg' %}" width="1000" height="667" alt="кімната" class="object-item__img" loading="lazy">
                                </a>
                                <div class="object-item__content">
                                    <p class="object-item__fix">Ремонт по дизайну</p>
                                    <div class="object-item__header">
                                        <div class="object-item__price">
                                            <strong>75 000$</strong>
                                            <span>540$/м²</span>
                                        </div>
                                        <h2 class="object-item__title">
                                            <a href="object.html">3-кімн. квартира, 80м², 8/14 поверх</a>
                                        </h2>
                                    </div>
                                    <hr>
                                    <p class="object-item__address line line_2">вул. Клочківська, буд 24, р-й Харківський, м. Харків</p>
                                    <button type="button" class="btn btn_invert btn_bordered">Показати телефон</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                {% include 'listings/components/related_listings.html' %}
                {% include 'listings/components/news.html' %}
            </div>
            {% if listing.manager %}
                {% with manager=listing.manager  %}
                    <div class="col">
                        <div class="employees-item">
                            <a href="{{ manager.get_absolute_url }}" class="employees-item__thumb">
                                {% if manager.image %}
                                    <img src="{{ manager.image|thumbnail_url:'small' }}" alt="Вікторова Вікторія Олександрівна" loading="lazy" width="200" height="200">
                                {% endif %}
                            </a>
                            <h2 class="employees-item__title">
                                <a href="{{ manager.get_absolute_url }}">{{ manager.full_name }}</a>
                            </h2>
                            <p class="employees-item__profession">Фахівець з нерухомості</p>
                            {% for phone in manager.phones.all %}
                                <a href="tel:{{ phone.clean_phone }}" class="employees-item__phone">
                                    <img src="{% static 'img/icon-phone.png' %}" class="accent" alt="телефон" width="30" height="30">
                                    <span>{{ phone.phone }}</span>
                                </a>
                            {% endfor %}
                            <p class="employees-item__more">або залиште номер, і ми вам передзвонимо протягом 2 хвилин</p>
                            <form class="employees-item__form send-form" method="post" 
                                  action="{% url 'emails:listing_quick_message' id=listing.id %}">
                                {{ listing_phone_form.phone }}
                                {% csrf_token %}
                                <button type="submit" class="btn btn_primary">
                                    <span class="ready">Передзвоніть мені</span>
                                    <span class="sending">Надсилання...</span>
                                    <span class="sent">Надіслано!</span>
                                    <span class="error">Помилка надсилання...</span>
                                </button>
                                <button type="button" 
                                        class="btn btn_invert btn_bordered open-popup" 
                                        data-popup="popup-listing-message">Написати спеціалісту</button>
                            </form>
                        </div>
                    </div>
                {% endwith %}
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}


{% block scripts %}
<script>
    const listing = {
        title: "{{ listing.title }}",
        position: {
            lat: {{ listing.get_coordinates_lat }},
            lng: {{ listing.get_coordinates_lng }}
        }
    }
    let map;
    async function initMap() {
        const position = { lat: listing.position.lat, lng: listing.position.lng };

        const { Map } = await google.maps.importLibrary("maps");
        const { Marker } = await google.maps.importLibrary("marker");
        const { Size } = await google.maps.importLibrary("core");

        map = new Map(document.getElementById("listing-map"), {
            zoom: 16,
            center: position,
            mapId: "listing-map",
            mapTypeControl: false
        });

        const marker = new Marker({
            map: map,
            position: position,
            title: listing.title,
            icon: "{{ request.scheme }}://{{ request.get_host }}{% static 'img/custom-marker_small.png' %}"
        });
        
        marker.addListener('click', function() {
            map.setCenter(marker.getPosition());
            map.setZoom(17);
          });
    }
    initMap();
    
</script>
<script>

    const listingId = "{{ listing.id }}";
    let viewedListings = localStorage.getItem('viewedListings');

    if (!viewedListings) {
        viewedListings = [listingId];
    } else {
        viewedListings = JSON.parse(viewedListings);
        if (viewedListings.indexOf(listingId) === -1) {
            viewedListings.push(listingId);
        }
    }
    localStorage.setItem('viewedListings', JSON.stringify(viewedListings));

</script>
{% endblock %}