{% load i18n %}
{% load static %}
{% load listing_extras %}




{% if listings %}
    <div class="section-header">
        <h1 class="section-header__title">
            {% trans 'Real estate search results' as title %}
            {{ title|wrap_words_in_span|safe }}
        </h1>
    </div>
    <ul class="objects-group">
        {% for item in listings %}
            {% include 'listings/archive-item.html' %}
        {% endfor %}
    </ul>
    {% include 'pagination.html' with page=listings %}
{% else %}
    {% include 'sections/empty-result.html' %}
{% endif %}
