{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% load listing_extras %}

{% block title %}{% trans 'Listings' %}{% endblock %}

{% block extra_main %}
    <div class="archive-search-form">
        <div class="container">
            {% include 'forms/search.html' %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="archive-objects">
        <div class="container">
            {% if listings %}
                <div class="archive-objects__row">
                <div class="col">
                    <div class="section-header">
                        <h1 class="section-header__title animate animate_text">
                            {% trans 'Real estate search results' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h1>
                    </div>
                    <ul class="objects-group">
                        {% for item in listings %}
                            {% include 'listings/archive-item.html' %}
                        {% endfor %}
                    </ul>
                    {% include 'pagination.html' with page=listings %}
                </div>
                <div class="col">
                    <div id="clustered-map" style="width:100%;height:100vh;"></div>
                </div>
            </div>
            {% else %}
                {% include 'sections/empty-result.html' %}
            {% endif %}
        </div>
    </section>
{% endblock %}

{% block scripts %} 
    <script>
        function initMap() {
            const map = L.map('clustered-map', {
                scrollWheelZoom: true // Включаем масштабирование колесом мыши
            }).setView([0, 0], 15);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 19
            }).addTo(map);
            
            const markers = [];

            const infoWindow = L.popup({
                closeButton: true,
                autoClose: false,
                closeOnClick: false
            });

            const bounds = L.latLngBounds();

            locations.forEach((position, i) => {
                const priceTag = L.divIcon({
                    className: 'price-tag larger-marker',
                    html: position.price + ' $'
                });

                const marker = L.marker(position, {
                    icon: priceTag
                });

                bounds.extend(position);

                marker.on('click', () => {
                    infoWindow.setContent(position.content);
                    infoWindow.setLatLng(marker.getLatLng());
                    infoWindow.openOn(map);
                });

                markers.push(marker);
            });

            map.fitBounds(bounds);
            const markerClusterGroup = L.markerClusterGroup();
            markerClusterGroup.addLayers(markers);
            map.addLayer(markerClusterGroup);
        }

        const locations = {{ coordinates|safe }};

        initMap();
    </script>
{% endblock %}
