{% extends 'layout/base.html' %}
{% load static %}
{% load listing_extras %}

{% block title %}Оголошення{% endblock %}

{% block content %}
    <div class="archive-search-form">
        <div class="container">
            {% include 'forms/search.html' %}
        </div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <nav class="breadcrumbs-group">
                <a href="index.html" class="breadcrumbs-group__link">Головна</a>
                <span class="breadcrumbs-group__text">Результати пошуку квартир</span>
            </nav>
        </div>
    </div>
    <section class="archive-objects">
        <div class="container">
            <div class="archive-objects__row">
                <div class="col">
                    <div class="section-header">
                        <h1 class="section-header__title animate animate_text">
                            {{ 'Результати пошуку квартир'|wrap_words_in_span|safe }}
                        </h1>
                    </div>
                    <ul class="objects-group">
                        {% for item in listings %}
                            {% include 'listings/archive-item.html' %}
                        {% endfor %}
                    </ul>
                    {% include 'pagination.html' with page=listings %}
                </div>
                <div class="col">
                    <div id="clustered-map" style="width:100%;height:100vh;"></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    
    <script>
        let objectItems = document.querySelectorAll('.object-item');
        let viewedListings = localStorage.getItem('viewedListings');
        if (viewedListings) {
            viewedListings = JSON.parse(viewedListings);
        } else {
            viewedListings = [];
        }
        objectItems.forEach(function(item) {
            var itemId = item.getAttribute('data-id');

            if (viewedListings.includes(itemId)) {
                item.classList.add('viewed');
            }
        });
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script>
    async function initMap() {
        const { Map } = await google.maps.importLibrary("maps");
        const { Marker } = await google.maps.importLibrary("marker");
        const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
        const map = new Map(document.getElementById("clustered-map"), {
            zoom: 15,
            maxZoom: 19,
            mapId: '315229cfc9e14eab',
            mapTypeControl: false
        });
        const infoWindow = new google.maps.InfoWindow({
            content: "",
            disableAutoPan: false
        });
        const bounds = new google.maps.LatLngBounds();

        const markers = locations.map((position, i) => {
            const priceTag = document.createElement("div");
            priceTag.className = "price-tag";
            priceTag.textContent = position?.price + ' $';

            const advancedMarker = new AdvancedMarkerElement({
                position,
                content: priceTag
            });

            bounds.extend(position);

            advancedMarker.addListener("click", () => {
                infoWindow.setContent(position?.content);
                infoWindow.open({
                    anchor: advancedMarker,
                    map,
                });
            });
            return advancedMarker;
        });
        
        map.fitBounds(bounds);
        new markerClusterer.MarkerClusterer({ markers, map });
    }

    const locations = {{ coordinates|safe }};

    initMap();
    </script>

<style>
    .price-tag {
        position: relative;
        padding: 0.2em 0.4em;
        color: var(--color-text-invert);
        background-color: var(--color-accent);
        border-radius: 0.5rem;
        font-size: 1.6rem;
    }

    .price-tag::after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% - 1px);
        border-top: 5px solid var(--color-accent);
        width: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }
</style>
{% endblock %}
