{% if crumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <nav class="breadcrumbs-group">
                <a href="{% url 'pages:home' %}" class="breadcrumbs-group__link">Головна</a>
                {% for crumb in crumbs %}
                    {% if not forloop.last %}
                        <a href="{{ crumb.1 }}" class="breadcrumbs-group__link">{{ crumb.0 }}</a>
                    {% else %}
                        <span class="breadcrumbs-group__text">{{ crumb.0 }}</span>
                    {% endif %}
                {% endfor %}
            </nav>
        </div>
    </div>
{% endif %}