{% load static %}
{% load i18n %}
{% if feadback_form %}
<section class="feadback">
    <div class="container">
        <img class="feadback__manager" src="{% static 'img/girl.png' %}" alt="дівчина-консультант">
        <form class="feadback-form send-form" method="post" action="{% url 'emails:feadback' %}">
            <div class="feadback-form__header">
                <h2 class="feadback-form__title">
                    {% trans 'Free consultation' %}
                </h2>
                <p class="feadback-form__subtitle">
                    {% trans 'Fill out the form and our manager will contact you' %}
                </p>
            </div>
            <fieldset class="feadback-form__fieldset">
                {{ feadback_form.name }}
                {{ feadback_form.phone }}
                {% csrf_token %}
                <button type="submit" class="btn btn_primary">
                    <span class="ready">{% trans 'Get a consultation' %}</span>
                    <span class="sending">{% trans 'Sending...' %}</span>
                    <span class="sent">{% trans 'Sent!' %}</span>
                    <span class="error">{% trans 'Error sending...' %}</span>
                </button>
            </fieldset>
        </form>
    </div>
</section>
{% endif %}
