{% load static %}
<section class="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-header__title">Чому з нами краще?</h2>
        </div>
        <ul class="features-group">
            <li class="features-group__item features-item">
                <div class="img-wrapper">
                    <img src="{% static 'img/icon-feature-1.png' %}" class="feature-item__img accent" alt="дім" loading="lazy" width="125" height="105">
                </div>
                <span class="features-item__text">Ретельно відбираємо базу об&#39;єктів</span>
            </li>
            <li class="features-group__item features-item">
                <div class="img-wrapper">
                    <img src="{% static 'img/icon-feature-2.png' %}" class="feature-item__img accent" alt="щит" loading="lazy" width="56" height="64">
                </div>
                <span class="features-item__text">Юридичний захист угоди</span>
            </li>
            <li class="features-group__item features-item">
                <div class="img-wrapper">
                    <img src="{% static 'img/icon-feature-3.png' %}" class="feature-item__img accent" alt="чат" loading="lazy" width="128" height="128">
                </div>
                <span class="features-item__text">Усі консультації та сервіси компанії безкоштовні</span>
            </li>
            <li class="features-group__item features-item">
                <div class="img-wrapper">
                    <img src="{% static 'img/icon-feature-4.png' %}" class="feature-item__img accent" alt="пісочний годинник" loading="lazy" width="84" height="128">
                </div>
                <span class="features-item__text">Заощаджуємо ваш час</span>
            </li>
        </ul>
    </div>
</section>