{% load static %}
{% load listing_extras %}

<header class="header">
    <div class="header-toper">
        <div class="container">
            <a href="{% url 'pages:home' %}" class="logo accent" aria-label="перейти на головну">
                <img src="{% static 'img/icon-logo.png' %}" alt="контракт нерухомість" class="logo__img" width="2146" height="549">
            </a>
            <div class="header-toper__controls">
                {% if contacts.phone_1 %}
                <a href="tel:+{{ contacts.phone_1|clean_phone }}" class="link">
                    <img src="{% static 'img/icon-phone.png' %}" alt="телефон" class="link__img accent" width="30" height="30">
                    <span class="link__text">{{ contacts.phone_1 }}</span>
                </a>
                {% endif %}
                <a href="{% url 'pages:course' %}" class="link">
                    <img src="{% static 'img/icon-hat.png' %}" alt="шапка" class="link__img" width="64" height="46">
                    <span class="link__text">Наш онлайн курс</span>
                </a>
                <a href="{% url 'discounts:list' %}" class="link">
                    <img src="{% static 'img/icon-percent.png' %}" alt="відсотки" class="link__img accent" width="32" height="32">
                    <span class="link__text accent">Акції</span>
                </a>
            </div>
            <form class="header-lang">
                <select name="lang" id="lang">
                    <option value="uk">ua</option>
                    <option value="en">en</option>
                </select>
            </form>
            <a href="{% url 'wishlist:archive' %}" class="wishlist-link" title="Перейти у вибране" aria-label="Перейти у вибране">
                <img src="{% static 'img/icon-heart.png' %}" class="wishlist-link__img accent" alt="серце" width="64" height="56">
                <span data-count="{{ wishlist_count }}" class="wishlist-link__cnt"></span>
            </a>
            <div class="header-menu">
                <button type="button" class="menu-btn" aria-label="відкрити закрити меню">
                    <span></span>
                </button>
            </div>
            <div class="mobile-menu">
                <div class="mobile-menu__inner">
                    <button class="btn_close mobile-menu__close" type="button" aria-label="Закрити вікно">
                        <span></span>
                        <span></span>
                    </button>
                    <a href="{% url 'pages:home' %}" class="logo accent" aria-label="перейти на головну">
                        <img src="{% static 'img/icon-logo.png' %}" alt="контракт нерухомість" class="logo__img" width="2146" height="549">
                    </a>
                    <nav class="mobile-nav">
                        <a class="mobile-nav__link{% if request.GET.is_new_building == 'on' %} active{% endif %}" href="{% url 'listings:list' %}?is_new_building=on">Новобудови</a>
                        {% for item in real_types %}
                            <a class="mobile-nav__link{% if request.GET.realty_type|stringformat:'s' == item.id|stringformat:'s' %} active{% endif %}" href="{{ item.get_absolute_url }}">{{ item.menu_label }}</a>
                        {% endfor %}
                        {% url 'pages:abroad_properties' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Нерухомість за кордоном</a>
                        {% url 'managers:list' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Спеціалісти</a>
                        {% url 'analytics:list' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Аналітика</a>
                        {% url 'pages:contacts' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Контакти</a>
                    </nav>
                    <div class="header-toper__controls">
                        {% if contacts.phone_1 %}
                            <a href="tel:+{{ contacts.phone_1|clean_phone }}" class="link">
                                <img src="{% static 'img/icon-phone.png' %}" alt="телефон" class="link__img accent" width="30" height="30">
                                <span class="link__text">{{ contacts.phone_1 }}</span>
                            </a>
                        {% endif %}
                        <a href="{% url 'pages:course' %}" class="link">
                            <img src="{% static 'img/icon-hat.png' %}" alt="шапка" class="link__img" width="64" height="46">
                            <span class="link__text">Наш онлайн курс</span>
                        </a>
                        <a href="{% url 'discounts:list' %}" class="link">
                            <img src="{% static 'img/icon-percent.png' %}" alt="відсотки" class="link__img accent" width="32" height="32">
                            <span class="link__text accent">Акції</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <nav class="header-nav">
                <a class="header-nav__link{% if request.GET.is_new_building == 'on' %} active{% endif %}" href="{% url 'listings:list' %}?is_new_building=on">Новобудови</a>
                {% for item in real_types %}
                    <a class="header-nav__link{% if request.GET.realty_type|stringformat:'s' == item.id|stringformat:'s' %} active{% endif %}" href="{{ item.get_absolute_url }}">{{ item.menu_label }}</a>
                {% endfor %}
                {% url 'pages:abroad_properties' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Нерухомість за кордоном</a>
                {% url 'managers:list' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Спеціалісти</a>
                {% url 'analytics:list' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Аналітика</a>
                {% url 'pages:contacts' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">Контакти</a>
            </nav>
        </div>
    </div>
</header>