{% load i18n %}
{% load static %}
{% load listing_extras %}
<header class="header">
    <div class="header-toper">
        <div class="container">
            <a href="{% url 'pages:home' %}" class="logo accent" aria-label="перейти на головну">
                <img src="{% static 'img/icon-logo.png' %}" alt="контракт нерухомість" class="logo__img" width="2146" height="549">
            </a>
            <div class="header-toper__controls">
                {% if contacts.phone_1 %}
                <a href="tel:+{{ contacts.phone_1|clean_phone }}" class="link">
                    <img src="{% static 'img/icon-phone.png' %}" alt="телефон" class="link__img accent" width="30" height="30">
                    <span class="link__text">{{ contacts.phone_1 }}</span>
                </a>
                {% endif %}
                <a href="{% url 'pages:course' %}" class="link">
                    <img src="{% static 'img/icon-hat.png' %}" alt="шапка" class="link__img" width="64" height="46">
                    <span class="link__text">{% trans 'Our online course' %}</span>
                </a>
                <a href="{% url 'discounts:list' %}" class="link">
                    <img src="{% static 'img/icon-percent.png' %}" alt="відсотки" class="link__img accent" width="32" height="32">
                    <span class="link__text accent">{% trans 'Discounts' %}</span>
                </a>
            </div>
            {% if current_city %}
                <button type="button" class="btn btn_location open-popup" data-popup="popup-city" title="{{ current_city.title }}">
                    <img src="{% static 'img/icon-marker.png' %}" class="btn__img" alt="маркер" width="48" height="64">
                    <span class="btn__text">{{ current_city.title }}</span>
                </button>
            {% endif %}
            <form class="header-lang" action="/" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <div class="header-lang">
                    <select name="language" id="lang">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.code }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <a href="{% url 'wishlist:archive' %}" class="wishlist-link" title="Перейти у вибране" aria-label="Перейти у вибране">
                <img src="{% static 'img/icon-heart.png' %}" class="wishlist-link__img accent" alt="серце" width="64" height="56">
                <span data-count="" class="wishlist-link__cnt"></span>
            </a>
            <div class="header-menu">
                <button type="button" class="menu-btn" aria-label="відкрити закрити меню">
                    <span></span>
                </button>
            </div>
            <div class="mobile-menu">
                <div class="mobile-menu__inner">
                    <button class="btn_close mobile-menu__close" type="button" aria-label="Закрити вікно">
                        <span></span>
                        <span></span>
                    </button>
                    <a href="{% url 'pages:home' %}" class="logo accent" aria-label="перейти на головну">
                        <img src="{% static 'img/icon-logo.png' %}" alt="контракт нерухомість" class="logo__img" width="2146" height="549">
                    </a>
                    <nav class="mobile-nav">
                        <a class="mobile-nav__link{% if request.GET.is_new_building == 'on' or '/new/' in request.path %} active{% endif %}" href="{% url 'listings:list' %}?is_new_building=on">Новобудови</a>
                        {% for item in real_types %}
                            <a class="mobile-nav__link{% if request.path == item.get_absolute_url %} active{% endif %}" href="{{ item.get_absolute_url }}">{{ item.menu_label }}</a>
                        {% endfor %}
                        
                        {% url 'pages:abroad_properties' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Real estate abroad' %}</a>
                        {% url 'managers:list' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Partners' %}</a>
                        {% url 'analytics:list' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Analytics' %}</a>
                        {% url 'pages:contacts' as url %}
                        <a class="mobile-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Contacts' %}</a>
                    </nav>
                    <div class="header-toper__controls">
                        {% if contacts.phone_1 %}
                            <a href="tel:+{{ contacts.phone_1|clean_phone }}" class="link">
                                <img src="{% static 'img/icon-phone.png' %}" alt="телефон" class="link__img accent" width="30" height="30">
                                <span class="link__text">{{ contacts.phone_1 }}</span>
                            </a>
                        {% endif %}
                        <a href="{% url 'pages:course' %}" class="link">
                            <img src="{% static 'img/icon-hat.png' %}" alt="шапка" class="link__img" width="64" height="46">
                            <span class="link__text">{% trans 'Our online course' %}</span>
                        </a>
                        <a href="{% url 'discounts:list' %}" class="link">
                            <img src="{% static 'img/icon-percent.png' %}" alt="відсотки" class="link__img accent" width="32" height="32">
                            <span class="link__text accent">{% trans 'Discounts' %}</span>
                        </a>
                    </div>
                    <div class="mobile-controls">
                        <form class="header-lang header-lang_mobile" action="/" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language" id="lang">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                        {{ language.code }}
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                        <a href="{% url 'wishlist:archive' %}" class="wishlist-link wishlist-link_mobile" title="Перейти у вибране" aria-label="Перейти у вибране">
                            <img src="{% static 'img/icon-heart.png' %}" class="wishlist-link__img accent" alt="серце" width="64" height="56">
                            <span data-count="" class="wishlist-link__cnt"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <nav class="header-nav">
                <a class="header-nav__link{% if request.GET.is_new_building == 'on' or '/new/' in request.path %} active{% endif %}" href="/{{ LANGUAGE_CODE }}/listings/by-type/new/">{% trans 'New buildings' %}</a>
                {% for item in real_types %}
                    <a class="header-nav__link{% if request.path == item.get_absolute_url %} active{% endif %}" href="{{ item.get_absolute_url }}">{{ item.menu_label }}</a>
                {% endfor %}
                {% url 'pages:abroad_properties' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Real estate abroad' %}</a>
                {% url 'managers:list' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Partners' %}</a>
                {% url 'analytics:list' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Analytics' %}</a>
                {% url 'pages:contacts' as url %}
                <a class="header-nav__link{% if request.path == url %} active{% endif %}" href="{{ url }}">{% trans 'Contacts' %}</a>
            </nav>
        </div>
    </div>
</header>
