{% load i18n %}
{% load listing_extras %}
{% load static %}

{% if search_form_simplified %}
    <section class="map">
        <div class="container">
            <form class="map-form" id="map-form" action="{% url 'listings:get_listings_coordinates' %}">
                <div class="section-header">
                    <h2 class="section-header__title animate animate_text">
                        {% trans 'Search on the map!' as title %}
                        {{ title|wrap_words_in_span|safe }}
                    </h2>
                    <p class="section-header__subtitle section-header__subtitle_lighter">
                        {% trans 'Enter the address of the object' %}
                    </p>
                </div>
                <label class="search-filters__item filter-item">
                    <div class="suggestions">
                        <div class="input-wrapper input-wrapper__search">
                            {{ search_form_simplified.address_input }}
                        </div>
                        {{ search_form_simplified.city }}
                        {{ search_form_simplified.street }}
                        {{ search_form_simplified.district }}
                        {{ search_form_simplified.house_complex }}
                        <div id="address_suggestions-wrapper" class="suggestions-wrapper"></div>
                    </div>
                </label>
            </form>
        </div>
        <div id="clustered-map-2" style="width:calc(100%);height:100%;"></div>
    </section>
{% endif %}