{% load listing_extras %}

{% if news %}
    <section class="news">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title animate animate_text">
                    {{ 'Новини'|wrap_words_in_span|safe }}
                </h2>
            </div>
            <ul class="post-group post-slider">
                {% for item in news %}
                    {% include 'news/archive-item.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}