<div class="popup">
    {% if review_form %}
        <div id="popup-review" class="popup-content">
            {% include 'forms/review.html' %}
        </div>
    {% endif %}
    <div id="popup-listing-map" class="popup-content">
        <button type="button" aria-label="закрити вікно" class="btn_close close-popup">
            <span></span>
            <span></span>
        </button>
        <div id="listing-map"></div>
    </div>
    {% if apply_form %}
        <div id="popup-add-apply" class="popup-content">
            {% include 'forms/apply.html' %}
        </div>
    {% endif %}
</div>