{% load i18n %}
{% load static %}
{% load listing_extras %}

{% if reviews %}
    <section class="reviews">
        <div class="container">
            <div class="reviews-row">
                <div class="section-header">
                    <h2 class="section-header__title animate animate_text">
                        {% trans 'What clients say about us:' as title %}
                        {{ title|wrap_words_in_span|safe }}
                    </h2>
                    <p class="section-header__subtitle">
                        {% trans 'Our team has 400 qualified employees. We carefully select and train each real estate professional, and after the deal, clients rate their work.' %}
                    </p>
                </div>
                <a href="{% url 'managers:list' %}" class="btn btn_shadow">
                    <span>
                        {% trans 'All specialists' %}
                    </span>
                    <img src="{% static 'img/icon-arrow.png' %}" 
                        class="btn__img" alt="стрілка" width="18" height="32" loading="lazy">
                </a>
            </div>
            <ul class="reviews-group">
                {% for review in reviews %}
                    {% include 'reviews/item.html' %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}