{% load i18n %}
<form class="form-add-review form send-form" enctype="multipart/form-data" action="{% url 'emails:apply' %}" method="post">
    <button type="button" aria-label="закрити вікно" class="btn_close close-popup">
        <span></span>
        <span></span>
    </button>
    <h2 class="form__title">
        {% trans 'Leave your contact details and attach a file with your resume' %}
    </h2>
    <fieldset class="form__fieldset">
        {{ apply_form.name }}
        {{ apply_form.phone }}
        {{ apply_form.file }}
        {{ apply_form.vacantion }}
        {% csrf_token %}
    </fieldset>
    <p class="form__info">
        {% trans 'Enter a phone number so we can contact you' %}
    </p>
    <button type="submit" class="btn btn_primary">
        <span class="ready">{% trans 'Send resume' %}</span>
        <span class="sending">{% trans 'Sending...' %}</span>
        <span class="sent">{% trans 'Sent!' %}</span>
        <span class="error">{% trans 'Error sending...' %}</span>
    </button>
    <p class="form__agreement">{% trans 'By sending your resume, you consent to the processing of personal data' %}</p>
</form>
