{% load i18n %}

<form class="form-add-review form send-form" action="{% url 'emails:listing_message' id=listing.id %}" method="post">
    <button type="button" aria-label="закрити вікно" class="btn_close close-popup">
        <span></span>
        <span></span>
    </button>
    <h2 class="form__title">
        {% trans 'Leave your contact details and message to our manager' %}
    </h2>
    <fieldset class="form__fieldset">
        {{ listing_message_form.phone }}
        {{ listing_message_form.message }}
        {% csrf_token %}
    </fieldset>
    <p class="form__info">{% trans 'Enter a phone number so we can contact you' %}</p>
    <button type="submit" class="btn btn_primary">
        <span class="ready">{% trans 'Send' %}</span>
        <span class="sending">{% trans 'Sending...' %}</span>
        <span class="sent">{% trans 'Sent!' %}</span>
        <span class="error">{% trans 'Error sending...' %}</span>
    </button>
</form>