{% load static %}

{% if listing.get_google_maps_link %}
    <div id="time" class="object-box">
        <div class="object-box-header">
            <h1 class="object-box-header__title">Час на дорогу</h1>
            <p class="object-box-header__subtitle"> Дізнайтеся час до роботи, школи чи дитячого садка </p>
        </div>
        <a href="{{ listing.get_google_maps_link }}" target="_blank" class="btn btn_invert btn_darken">
            <span>Побудувати маршрут</span>
        </a>
        <img class="object-box__bg" src="{% static 'img/bg-map-ways.jpg' %}" alt="карта">
    </div>
{% endif %}