{% load i18n %}
{% load static %}
{% load thumbnail %}

<div class="info-window">
    <p class="info-window__title">{{ listing.title }}</p>
    <div class="info-window__row">
        {% if listing.images.first %}
            <div class="info-window__thumb">
                <img src="{{ listing.images.first.file|thumbnail_url:'medium' }}">
            </div>
        {% endif %}
        <div class="info-window__content">
            <table class="info-window__table">
                <tbody>
                    <tr>
                        <th>{% trans 'Price' %}:</th>
                        <td>{% firstof listing.formated_price '?' %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Area (total / living / kitchen)' %}:</th>
                        <td>{% firstof listing.area_total '-' %} / {% firstof listing.area_living '-' %} / {% firstof listing.area_kitchen '-' %} ({% trans 'm²' %})</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Rooms' %}:</th>
                        <td>{% firstof listing.room_count '-' %}</td>
                    </tr>
                    <tr>
                        <th>{% trans 'Floors' %}:</th>
                        <td>{% firstof listing.floor '-' %} / {% firstof listing.total_floors '-' %}</td>
                    </tr>
                    {% if year.count %}
                        <tr>
                            <th>{% trans 'Year of construction' %}:</th>
                            <td>{% firstof year.first.value %}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <a href="{{ listing.get_absolute_url }}" class="info-window__link" target="_blank">
                <span>{% trans 'More details' %}</span>
            </a>
        </div>
    </div>
</div>
