{% load i18n %}
{% load static %}
{% load thumbnail %}

{% if listing.manager %}
    {% with manager=listing.manager  %}
        <div class="employees-item">
            <a href="{{ manager.get_absolute_url }}" class="employees-item__thumb">
                {% if manager.image_url %}
                    <img src="{{ manager.image_url }}" alt="{{ manager.full_name }}" loading="lazy" width="200" height="200">
                {% else %}
                <img src="{% static 'img/icon-user.svg' %}" alt="{{ manager.full_name }}" loading="lazy">
                {% endif %}
            </a>
            <h2 class="employees-item__title">
                <a href="{{ manager.get_absolute_url }}">{{ manager.full_name }}</a>
            </h2>
            <p class="employees-item__profession">{% trans 'Real estate specialist' %}</p>
            {% for phone in manager.phones.all %}
                <a href="tel:{{ phone.clean_phone }}" class="employees-item__phone">
                    <img src="{% static 'img/icon-phone.png' %}" class="accent" alt="телефон" width="30" height="30">
                    <span>{{ phone.phone }}</span>
                </a>
            {% endfor %}
            <p class="employees-item__more">{% trans 'or leave the number and we will call you back within 2 minutes' %}</p>
            <form class="employees-item__form send-form" method="post" 
                    action="{% url 'emails:listing_quick_message' id=listing.id %}">
                {{ listing_phone_form.phone }}
                {% csrf_token %}
                <button type="submit" class="btn btn_primary">
                    <span class="ready">{% trans 'Call me back' %}</span>
                    <span class="sending">{% trans 'Sending...' %}</span>
                    <span class="sent">{% trans 'Sent!' %}</span>
                    <span class="error">{% trans 'Error sending...' %}</span>
                </button>
                <button type="button" 
                        class="btn btn_invert btn_bordered open-popup" 
                        data-popup="popup-listing-message">{% trans 'Write to a specialist' %}</button>
            </form>
        </div>
    {% endwith %}
{% endif %}