{% load i18n %}
{% load listing_extras %}

{% if news %}
    <div class="object-box">
        <div class="object-box-header">
            <h2 class="object-box-header__title animate animate_text">
                {% trans 'News' as title %}
                {{ title|wrap_words_in_span|safe }}
            </h2>
        </div>
        <ul class="post-group object-slider">
            {% for item in news %}
                {% include 'news/archive-item.html' %}
            {% endfor %}
        </ul>
    </div>
{% endif %}