{% load static %}
{% if similar_listings %}
    <div class="object-box">
        <div class="object-box-header">
            <h1 class="object-box-header__title">Вартість аналогічних квартир по місту</h1>
            <p class="object-box-header__subtitle">Аналогічні квартири підбираються за подібними параметрами: кімнатність, поверховість, матеріал стін, ремонт, рік</p>
        </div>
        <ul class="post-group object-slider">
            {% for item in similar_listings %}
                {% include 'listings/archive-item.html' %}
            {% endfor %}
        </ul>
    </div>
{% endif %}