{% extends 'layout/base.html' %}
{% load i18n %}
{% load listing_extras %}

{% block title %}{% trans 'About us' %}{% endblock %}

{% block content %}
    <main class="about">
        <div class="container">
            <div class="section-header">
                {% if request.LANGUAGE_CODE == 'en' %}
                    <h1 class="section-header__title animate animate_text">{{ page.title_1|wrap_words_in_span|safe }}</h1>
                    <p class="section-header__subtitle">{{ page.description_1|linebreaks }}</p>
                {% else %}
                    <h1 class="section-header__title animate animate_text">{{ page.title_1_uk|wrap_words_in_span|safe }}</h1>
                    <p class="section-header__subtitle">{{ page.description_1_uk|linebreaks }}</p>
                {% endif %}
            </div>
        </div>
    </main>
    <section class="about-secondary">
        <div class="container">
            <div class="about-secondary__row">
                <div class="section-header">
                    {% if request.LANGUAGE_CODE == 'en' %}
                        <h2 class="section-header__title animate animate_text">{{ page.title_2|wrap_words_in_span|safe }}</h2>
                        <p class="section-header__subtitle">{{ page.description_2|linebreaks }}</p>
                    {% else %}
                        <h2 class="section-header__title animate animate_text">{{ page.title_2_uk|wrap_words_in_span|safe }}</h2>
                        <p class="section-header__subtitle">{{ page.description_2_uk|linebreaks }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% if page.items %}
        <div class="section about-third">
            <div class="container">
                <ul class="about-group">
                    {% for item in page.items.all %}
                        <li class="about-item {{ item.size }}">
                            {% if request.LANGUAGE_CODE == 'en' %}
                                <h2 class="about-item__title">{{ item.title }}</h2>
                                <div class="about-item__content">{{ item.description }}</div>
                            {% else %}
                                <h2 class="about-item__title">{{ item.title_uk }}</h2>
                                <div class="about-item__content">{{ item.description_uk }}</div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    {% include 'sections/reviews.html' %}
    {% include 'sections/feadback.html' %}
{% endblock %}