{% extends 'layout/base.html' %}
{% load listing_extras %}

{% block title %}Гарантії{% endblock %}

{% block content %}
    <main class="guarante">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title animate animate_text">
                    {{ 'Гарантія безпеки угоди'|wrap_words_in_span|safe }}
                </h1>
                <p class="section-header__subtitle section-header__subtitle_strong">Купляйте нерухомість без ризику</p>
                <p class="section-header__p">У випадку виникнення спірних ситуацій беремо всі витрати на себе</p>
            </div>
        </div>
    </main>
    <section class="protection">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title animate animate_text">
                    {{ 'Як ми захищаємо клієнтів'|wrap_words_in_span|safe }}
                </h2>
            </div>
            <ul class="protection-group">
                <li class="protection-item">
                    <h3 class="protection-item__title">Перевірка об&#39;єкту та сторін угоди</h3>
                    <p class="protection-item__description">На вході ми перевіряємо всю документацію на нерухомість, щоб знизити ймовірність яких-небудь ризиків при оформленні угоди</p>
                </li>
                <li class="protection-item">
                    <h3 class="protection-item__title">Безпечні розрахунки</h3>
                    <p class="protection-item__description">Сам процес оформлення угоди відбувається строго за розробленими регламентами з використанням безпечних розрахунків</p>
                </li>
                <li class="protection-item">
                    <h3 class="protection-item__title">Юридичний захист</h3>
                    <p class="protection-item__description">Після оформлення угоди ми безкоштовно для клієнта захищаємо його інтереси у разі виникнення будь-яких суперечок</p>
                </li>
            </ul>
        </div>
    </section>
    {% include 'sections/reviews.html' %}
    {% include 'sections/feadback.html' %}
{% endblock %}

