{% extends 'layout/base.html' %}
{% load i18n %}
{% load listing_extras %}

{% block title %}{% trans 'Guarantees' %}{% endblock %}

{% block content %}
    <main class="guarante">
        <div class="container">
            <div class="section-header">
                <h1 class="section-header__title animate animate_text">
                    {% trans 'Agreement security guarantee' as title %}
                    {{ title|wrap_words_in_span|safe }}
                </h1>
                <p class="section-header__subtitle section-header__subtitle_strong">
                    {% trans 'Buy real estate risk-free' %}
                </p>
                <p class="section-header__p">
                    {% trans 'In case of disputed situations, we bear all costs' %}
                </p>
            </div>
        </div>
    </main>
    <section class="protection">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title animate animate_text">
                    {% trans 'How we protect customers' as title %}
                    {{ title|wrap_words_in_span|safe }}
                </h2>
            </div>
            <ul class="protection-group">
                <li class="protection-item">
                    <h3 class="protection-item__title">
                        {% trans 'Verification of the object and parties to the agreement' %}
                    </h3>
                    <p class="protection-item__description">
                        {% trans 'At the entrance, we check all real estate documentation to reduce the likelihood of any risks during the transaction' %}
                    </p>
                </li>
                <li class="protection-item">
                    <h3 class="protection-item__title">
                        {% trans 'Safe calculations' %}
                    </h3>
                    <p class="protection-item__description">
                        {% trans 'The very process of signing the agreement takes place strictly according to the developed regulations with the use of secure calculations' %}
                    </p>
                </li>
                <li class="protection-item">
                    <h3 class="protection-item__title">
                        {% trans 'Legal protection' %}
                    </h3>
                    <p class="protection-item__description">
                        {% trans "After signing the agreement, we protect the client's interests free of charge in case of any disputes" %}
                    </p>
                </li>
            </ul>
        </div>
    </section>
    {% include 'sections/reviews.html' %}
    {% include 'sections/feadback.html' %}
{% endblock %}
