{% extends 'layout/base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
    <main class="main-search">
        <div class="container">
            <h1 class="title-main">Знайти нерухомість</h1>
            {% include 'forms/search.html' %}
        </div>
    </main>
    {% include 'sections/features.html' %}
    {% include 'sections/stats.html' %}
    {% include 'sections/services.html' %}
    {% include 'sections/feadback.html' %}
    {% include 'sections/reviews.html' %}
    {% include 'sections/news.html' %}
    {% include 'sections/map.html' %}
    {% include 'sections/contract.html' %}
{% endblock %}