{% extends 'layout/base.html' %}
{% load i18n %}
{% load static %}
{% load listing_extras %}

{% block title %}{% trans 'To the seller' %}{% endblock %}

{% block content %}
    <main class="seller">
        <div class="container">
            <div class="seller-row">
                <div class="col">
                    <div class="section-header">
                        <h1 class="section-header__title animate animate_text">
                            {% trans 'We will help sell real estate quickly and profitably' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h1>
                        <p class="section-header__subtitle section-header__subtitle_strong">
                            {% trans 'Leave a request and we will call you back' %}
                        </p>
                    </div>
                </div>
                <div class="col">
                    <form class="seller-form send-form" action="{% url 'emails:seller_quick_message' %}" method="post">
                        <label class="search-filters__item filter-item">
                            <span class="filter-item__label">
                                {% trans 'Object type' %}
                            </span>
                            <div class="select-wrapper">
                                {{ seller_form.realty_type }}
                            </div>
                        </label>
                        <label class="search-filters__item filter-item">
                            <span class="filter-item__label">
                                {% trans 'Phone' %}
                            </span>
                            <div class="input-wrapper">
                                {{ seller_form.phone }}
                            </div>
                        </label>
                        {% csrf_token %}
                        <button type="submit" class="btn btn_primary">
                            <span class="ready">{% trans 'Get a free consultation' %}</span>
                            <span class="sending">{% trans 'Sending...' %}</span>
                            <span class="sent">{% trans 'Sent!' %}</span>
                            <span class="error">{% trans 'Error sending...' %}</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <section class="how-works">
        <div class="container">
            <div class="how-works__row">
                <div class="col">
                    <div class="section-header">
                        <h2 class="section-header__title animate animate_text">
                            {% trans 'How it works?' as title %}
                            {{ title|wrap_words_in_span|safe }}
                        </h2>
                    </div>
                    <ul class="accordeon">
                        <li class="accordeon-item active">
                            <h3 class="accordeon-item__title">{% trans 'Placing an ad' %}</h3>
                            <div class="accordeon-item__content">
                                <div class="accordeon-item__text">
                                    {% trans "Post an ad about your property and within 2 hours buyers will see it on the site. Or just leave your phone and we'll do the rest." %}
                                </div>
                            </div>
                        </li>
                        <li class="accordeon-item">
                            <h3 class="accordeon-item__title">{% trans 'Preparation for sale' %}</h3>
                            <div class="accordeon-item__content">
                                <div class="accordeon-item__text">
                                    {% trans "Post an ad about your property and within 2 hours buyers will see it on the site. Or just leave your phone and we'll do the rest." %}
                                </div>
                            </div>
                        </li>
                        <li class="accordeon-item">
                            <h3 class="accordeon-item__title">{% trans 'Search for buyers' %}</h3>
                            <div class="accordeon-item__content">
                                <div class="accordeon-item__text">{% trans "Post an ad about your property and within 2 hours buyers will see it on the site. Or just leave your phone and we'll do the rest." %}</div>
                            </div>
                        </li>
                        <li class="accordeon-item">
                            <h3 class="accordeon-item__title">{% trans 'Conclusion of the agreement' %}</h3>
                            <div class="accordeon-item__content">
                                <div class="accordeon-item__text">{% trans "Post an ad about your property and within 2 hours buyers will see it on the site. Or just leave your phone and we'll do the rest." %}</div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <img src="{% static 'img/how-it-works.png' %}" width="664" height="516" alt="кімната" loading="lazy">
                </div>
            </div>
            <div class="how-works__grid">
                <ul class="how-works__group">
                    <li class="how-works-item how-works-item_third">
                        <h3 class="how-works-item__title">{% trans 'Start selling now' %}</h3>
                        <div class="how-works-item__content">{% trans "Post a real estate for rent ad or just leave your phone number and we'll help" %}</div>
                    </li>
                    <li class="how-works-item how-works-item_third">
                        <h3 class="how-works-item__title">{% trans 'Search for tenants' %}</h3>
                        <div class="how-works-item__content">{% trans 'Tenants will see your ad on our website and in the bot, and if you order additional services, we will place your ad on 7 more sites. We will find you reliable tenants and organize apartment showings.' %}</div>
                    </li>
                    <li class="how-works-item how-works-item_third">
                        <h3 class="how-works-item__title">{% trans 'Conclusion of the agreement' %}</h3>
                        <div class="how-works-item__content">{% trans 'Complete the agreement in person or remotely. We will introduce you to the tenant via video call, help you conclude an agreement and make an online payment.' %}</div>
                    </li>
                    <li class="how-works-item how-works-item_full" style="background-image: url({% static 'img/seller-item-image.jpg' %})">
                        <h3 class="how-works-item__title">{% trans 'Preparation for submission' %}</h3>
                        <div class="how-works-item__content">{% trans 'Order cleaning or clean it yourself.<br> Photography of the real estate as a gift!<br> A real estate specialist will come, take a photo and upload it to the ad.<br> We will help you prepare and complete the documents for the deal. <br> Use trust management, and we will monitor the condition of the apartment while you are gone.<br> Sign a paid contract and we will rent your apartment faster.' %}</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="advantages">
        <div class="container">
            <div class="section-header">
                <h2 class="section-header__title animate animate_text">
                    {% trans '4 reasons to evaluate real estate right now' as title %}
                    {{ title|wrap_words_in_span|safe }}
                </h2>
            </div>
            <ul class="advantages-group">
                <li class="advantages-item">
                    <img src="{% static 'img/icon-cash.png' %}" alt="гроші" class="advantages-item__image accent" loading="lazy" width="128" height="128">
                    <h3 class="advantages-item__title">{% trans 'Only real prices' %}</h3>
                    <p class="advantages-item__description">{% trans 'We know not only the price at which offers are placed, but also the real selling price. Therefore, our estimate is closer to reality.' %}</p>
                </li>
                <li class="advantages-item">
                    <img src="{% static 'img/icon-house.png' %}" alt="дім" class="advantages-item__image accent" loading="lazy" width="64" height="58">
                    <h3 class="advantages-item__title">{% trans 'We do not ask for money or phone' %}</h3>
                    <p class="advantages-item__description">{% trans "Information about the market value is available to anyone just like that: you don't have to pay for it or leave your phone if you don't want to." %}</p>
                </li>
                <li class="advantages-item">
                    <img src="{% static 'img/icon-house-in-hahd.png' %}" alt="дім у руці" class="advantages-item__image accent" loading="lazy" width="64" height="60">
                    <h3 class="advantages-item__title">{% trans "Let's show similar offers" %}</h3>
                    <p class="advantages-item__description">{% trans "No need to waste time searching for similar offers on other sites, we'll show you offers that compete with yours right now." %}</p>
                </li>
                <li class="advantages-item">
                    <img src="{% static 'img/icon-time.png' %}" alt="годинник" class="advantages-item__image accent" loading="lazy" width="128" height="128">
                    <h3 class="advantages-item__title">{% trans "It's simple and convenient" %}</h3>
                    <p class="advantages-item__description">{% trans 'You do not need to enter a lot of information, it is enough to fill in 5 fields.' %}</p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
